<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[Profile]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://images.vexels.com/media/users/3/135315/isolated/preview/a1373f89e74e328d85d47a297548020f-balloons-square-icon-by-vexels.png" width="50" height="50" alt="">
    </a>
    <form method="get" action="order" class="form-inline" style="padding-right: 5%;">

        <a href="{{ @BASE }}"><button class="btn btn-sm btn-outline-secondary" type="button">Start Over</button></a>

    </form>
</nav>



<h1 id="sum">Profile</h1>
<h3 id="sum1" style="text-align:  center">Your profile has been created!</h3>
<hr>
<div class="container">
    <div class="row">
<div class="col-lg">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th colspan="3" style="text-align: center">Profile Information</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">&#9824;</th>
                            <td>First Name</td>
                            <td>{{ @first }}</td>
                        </tr>
                        <tr>
                            <th scope="row">&#9830;</th>
                            <td>Last Name</td>
                            <td>{{ @last }}</td>
                        </tr>
                        <tr>
                            <th scope="row">&#127216;</th>
                            <td>Age</td>
                            <td>{{ @age }}</td>
                        </tr>
                        <tr>
                            <th scope="row">&#9893;</th>
                            <td>Gender</td>
                            <td>{{ @gender }}</td>

                        </tr>
                        <tr>
                            <th scope="row">&hearts;</th>
                            <td>Seeking</td>
                            <td>{{ @seeking }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover">
                        <thead>
                        <table class="table table-hover">
                            <thead>
                        <tr>
                            <th colspan="3" style="text-align: center">Demographics</th>
                        </tr>
                        <tr>
                            <th scope="row">&#128174;</th>
                            <td>State</td>
                            <td>{{ @state }}</td>
                        </tr>
                        <tr>
                            <th scope="row">&#127800;</th>
                            <td>Interests</td>
                            <td>
                                <check if="{{ isset(@indoor) || isset($outdoor)}}">
                                <p>Interests: </p>
                                <repeat group="{{ @indoor }}" value="{{ @indoor }}">
                                    <p>{{ @indoor }}</p>
                                </repeat>

                                <repeat group="{{ @outdoor }}" value="{{ @outdoor }}">
                                    <p>{{ @outdoor }}</p>
                                </repeat>
                            </check></td>
                        </tr>
                        </tbody>
                    </table>
                        </thead>
                    </table>
</div>
<div class="col-lg">
    <img src="https://i.pinimg.com/originals/b2/09/e0/b209e0579044a0a4c441ed493c20dc43.jpg" style="width: 50%; margin-left: auto; margin-right: auto;">
    <p style="text-align: center"><b>Biography:</b><hr><br> {{ @biography }} </p>
</div>
    </div>
</div>
</body>


</html>
